

<style>
.col-md-4 { display: flex; justify-content: center; }
</style>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="images/1.jpg" class="img-thumbnail" style="height:350px;">
    </div>
    <div class="col-md-4">
      <img src="images/2.jpg" class="img-thumbnail" style="height:350px;">
    </div>
    <div class="col-md-4">
      <img src="images/3.jpg" class="img-thumbnail" style="height:350px;">
    </div>
  </div>

  <div class="my-3">
    <form action="/get_images" method="POST">
      <div class="form-group">
        <input type="url" id="ig_url" name="ig_url" class="form-control" placeholder="輸入 IG 圖片網址" aria-label="Recipient's username" aria-describedby="basic-addon2">
      </div>
      <button id="send_url" class="btn btn-outline-secondary" type="submit">送出</button>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">照片：</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#send_url').click(function(e){
    e.preventDefault();
    $.ajax({
      type: 'post',
      url: '/get_images',
      data: { ig_url: $('#ig_url').val() }
    }).done(function(data){
      result = data.result
      for (let i = 0; i < result.length; i++) {
        let temp_img = result[i].is_video ? `<img src="${result[i].image_url}" class="img-thumbnail"/><button type="submit" class="btn" style="background-color:#ffb3b3;float:right;" onclick="window.open('${result[i].video_url}')">影片點此</button>` : `<img src="${result[i].image_url}" class="img-thumbnail"/>`;
        $('.modal-body').prepend(temp_img);
      }
      $('.modal').modal('show');
    })
  })
</script>